* {
   font-family: 'Courier New', Courier, monospace;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-size: 24px;
}

:root {
   --bg-color: #1f242d;
   --second-bg-color:#323946;
   --text-color:#fff;
   --main-color:#0ef;
}
body {
   background: url(basketball-hardwood-court-floor.jpg) no-repeat;
   background-position: center;
   background-size: cover;
   color: var(--text-color); 
}

section {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 100px;
   background: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-size: 32px;
   color: var(--main-color);
   text-decoration: none;
   font-weight: 700;
}

.navbar a {
   position: relative;
   font-size: 18px;
   color: #fff;
   margin-left: 12px;
   font-weight: 600;
   text-decoration: none;
}

.navbar a::before {
   content: '';
   position: absolute;
   top: 100%;
   left: 0;
   width: 0;
   height: 2px;
   background-color: #fff;
   transition: .3s ease;
}

.navbar a:hover::before {
   width: 100%;
}

.main {
   color: var(--text-color);
   display: flex;
   text-align: center;
   align-items: center;
   position: relative;
   font-size: 40px;
   
}

.home {
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   width: 100%;
}

.home-content a {
   text-decoration: none;
   font-size: 24px;
}

.home-content a:hover {
   text-decoration: underline;
}
.conts {
   display: flexbox;
   align-items: center;
   text-align: center;
   justify-content: space-between;
   padding: 40px;
   width: 100%;/*
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   /*min-height: 30vh;*
   border: 2px solid rgba(255, 255, 255, .2);
   border-radius: 10px;*/
}

.home-content {
   backdrop-filter: blur(2px);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   border: 2px solid rgba(255, 255, 255, .2);
   border-radius: 10px;
   padding: 40px;
}

.events {
   padding: 40px;
   margin: 30px;
   width: 100%;
   border: 2px solid rgba(255, 255, 255, .2);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   border-radius: 10px;
   backdrop-filter: blur(20px);
}
.events h1 {
   color: orange;
   font-size: 32px;
}


table {
   /*border-collapse: collapse;*/
   margin: 20px auto;
   /*border-radius: 40px;*/
   border-color: antiquewhite ;
   width: 100%;
   /*backdrop-filter: blur(20px);
   /*backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);*/
}

.sub {
   color: var(--main-color);
}
th, td {
   padding: 10px;
   text-align: left;
}

th {
   /*background-color: rgba(255, 255, 255, 0.664);*
   backdrop-filter: blur(10px);*/
   border: 2px solid rgba(255, 255, 255, .2);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   /*border-radius: 40px;*/
   color: gray;
   font-weight: 700;
}

td {
   border: 2px solid rgba(255, 255, 255, .2);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

tr a {
   text-decoration: none;
   color: rgba(255, 255, 255, 0.842);
   font-weight: 400;
}
tr:nth-child(even) {
   background-color: #f2f2f2;
   border-radius: 40px
}

tr a:hover {
   text-decoration: underline;
   columns: rgb(61, 61, 173);
}